.addon-style .rec-dot_active {
    background-color: #d3c7c7;
    box-shadow: 0 0 1px 3px rgb(125, 121, 129);
}

.addon-style .rec-dot {
    background-color: #d3c7c7;
}

.addon-style .rec-arrow {
    display: none;
}
