.navbar {
    width: 100%;
    background: #1B2530;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    flex: none;
  }

  .navbar-logo {
    font-family: 'Lobster', cursive;
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: flex-end;
  }

  .nav-item {
    height: 80px;
    border-bottom: 2px solid transparent;
  }

  .nav-item:hover {
    border-bottom: 2px solid #f00946;
  }

  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }

  .nav-links:hover {
    color: #f00946;
  }

  .menu-icon {
    display: none;
  }

  .is-active {
    font-weight: bold;
    color: #f00946;
  }

  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
    .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      height: calc(100vh - 80px);
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .nav-menu.mobile {
      background:#0F171E;
      left: 0;
      opacity: 1;
      transition: all 0.6s ease;
      z-index: 1;
    }
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
    .nav-links:hover {
      color: #f00946;
      transform: scale(1.2);
      transition: all 0.3s ease;
    }
    .nav-item:hover {
      border: none;
    }
    .nav-item {
      width: 100%;
    }
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
    
  }